bin
lib

# Visual Studio
**/*.vs
**/*.sln
**/*.sdf
**/*.suo
**/*.pdb
**/*.idb
**/*.exp
**/*.ipdb
**/*.iobj
**/*.VC.db
**/*.cache
**/*.opensdf
**/*.opendb
**/*.vcxproj
**/*.vcxproj.filters
**/*.vcxproj.user
**/obj/*

**/Saves
**/Resources/*.csd
/CSound Editor/Headphone Test Results
/CSound Editor/Visual Studio/*.opendb
/CSound Editor/Resources/CSound/Scores/*.csd
/CSound Editor/Visual Studio/*.opensdf
/CSound Editor/Resources/Audio/MvPlane

/libs/Engine/Engine
/TODO
/CSound Manager/Build
