bin
lib
*.sdf
*.suo
**/.vs
**/ipch
**/Visual Studio/obj
**/Visual Studio/Debug
**/Saves
**/Resources/*.csd
/CSound Editor/Headphone Test Results
/CSound Editor/Visual Studio/*.opendb
/CSound Editor/Resources/CSound/Scores/*.csd
/CSound Editor/Visual Studio/*.opensdf
/CSound Editor/Resources/Audio/MvPlane
/libs/Engine/Engine
/TODO
