QWidget {
	/*border: 1px solid red;*/
}

QPushButton {
	height: 30px;
}

QLabel {
	min-width: 100px;
	min-height: 20px;
}

QLineEdit {
	min-height: 20px;
	min-width: 150px;
}

QComboBox {
	height: 22px;
	margin-left: 0px;
	padding-left: 10px;
}

QComboBox QAbstractItemView::item {
	height: 22px;
}

/**
 * Section Left
 */

QWidget#sectionLeft {
	max-height: 400px;
	max-width: 260px;
	border: 1px solid #CCC;
}

QWidget#configArea {
	min-height: 400px;
	max-height: 400px;
	border: 1px solid #CCC;
}

QWidget#sectionLeft QWidget[SimpleDropDown] QLabel {
	max-width: 100px;
}

/**
 * Advance Config Panel
 */

QWidget#advancedConfigPanel {
	max-width: 260px;
	max-height: 400px;
	padding: 5px;
}

QWidget#configArea QPushButton {
}

QWidget#configArea QPushButton:hover {
}

QLabel#SimpleFloatInputLabel {
	max-width: 100px;
}

QLabel#SimpleCheckBoxLabel {
	max-width: 100px;
}

QPlainTextEdit {
	font-family: Arial, "Times New Roman";
	font-size: 12px;
}

QLabel[HeadlineSection] {
	height: 24px;
	margin: 5px;
	text-align: center;
	font-weight: bold;
}